.btn-welcome-up {
    background-color:#0a0a23;
    font-family: fantasy;
    font-size: 80px;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-width: 280px;
  }
  .btn-welcome-up:hover {
    background-color:#002ead;
    transition: 0.7s;
}






/* //////////// NAVIGATION ///////// */

.topnav {
  font-family: fantasy;
    }

  h5{
    font-family: calibri;
    font-size: 20px;
    background-color: white;
  }

    /* CSS for the About Dialog */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-content {
  background: linear-gradient(45deg,#89608E,#4F759B );
  width: 500px;
  font-family: fantasy;
  font-size: 18px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 5px;
}


    #close-btn {
      margin-top: 10px;
    }
    /* Style the links inside the navigation bar */
    
    .topnav a {
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size:40px;
    }
    
    
    
    /* Change the color of links on hover */
    .topnav a:hover {
     background-color: none;
     color: purple;
    }
    
    
    
    
    /* Add a color to the active/current link */
    .topnav a.active {
     background-color: none;
     color: white;
    }

    /* ////////////////////////////////////////// FOOTER ////////////////////////////////////////////// */

  .footer {
    font-size: 20px;
    font-family: fantasy;
     color: white;
    
    }


    table {
      border-collapse: collapse;
      width: 100;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
      background-color: #f2f2f2
    }
    th {
      background-color: #f2f2f2;
    }










    